$size-s: 14px;
$size-m: 16px;
$size-l: 24px;
$size-xl: 30px;

.wrapper {
  display: flex;
  color: #fff;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: center;
  padding: 10px;
  &-border {
    border: solid 1px grey;
  }
}
.author {
  &-name {
    font-size: $size-l;
    margin-bottom: 0;
  }
  &-bio {
    font-size: $size-s;
  }
  &-socialUrl {
    text-decoration: underline;
    font-size: $size-m;
  }
}

.bg {
  &-primary {
    background-color: #3f51b5;

    a {
      color: #2196f3;
    }
  }

  &-secondary {
    background-color: #312f41;

    a {
      color: #2196f3;
    }
  }
}
